.create-post {
    background-image: url("../../images/test5.png");
    background-size: cover;
    background-blend-mode:overlay;
    background-color: transparent;
}

.post-card {
    background-color: white;
}

