.gradient-custom {
  
        /* fallback for old browsers */
        background: #141415;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(20, 20, 21, 0.15), rgba(238, 241, 245, 0.15));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(20, 20, 21, 0.15), rgba(238, 241, 245, 0.15))
  
      
  }